<div class="col-lg-4 mx-auto" #divImagen>
    <div class="card">
        <div class="card-header">
            Upload a Photo
        </div>
        <div class="card-body">
            <form
                (submit)="uploadPhoto(title, rutaFis, divImagen, resultadoOrig, resultadoNew, txtAltoO,txtAnchoO,txtAltoN,txtAnchoN,urlO,urlN)">
                <div class="form-group">
                    <input id="titulo" type="text" class="form-control" placeholder="Photo's Title" #title>
                </div>
                <div>
                    <input type="file" class="d-none" accept=".jpg, .jpeg, .png"
                        (change)="onPhotoSelected($event, title, rutaFis)" #photoInput>
                    <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" (click)="photoInput.click()">
                    <input type="text" class="form-control" #rutaFis>
                    <button class="btn btn-outline-primary btn-block">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div #resultadoOrig style="display: none;" class="card">
            <div class="card-header">
                Imagen Original
            </div>
            <div class="card-body">
                <label for="altoO">Alto</label>
                <input id="altoO" type="text" class="form-control" #txtAltoO>
                <label for="anchoO">Ancho</label>
                <input id="anchoO" type="text" class="form-control" #txtAnchoO>
                <label for="urlO">URL AWS</label>
                <input id="urlO" type="text" class="form-control" #urlO>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div #resultadoNew style="display: none;" class="card">
            <div class="card-header">
                Imagen Modificada
            </div>
            <div class="card-body">
                <label for="altoN">Alto</label>
                <input id="altoN" type="text" class="form-control" #txtAltoN>
                <label for="anchoN">Ancho</label>
                <input id="anchoN" type="text" class="form-control" #txtAnchoN>
                <label for="urlN">URL AWS </label>
                <input id="urlN" type="text" class="form-control" #urlN>
            </div>
        </div>
    </div>
</div>